---
import { marked } from "marked";
import IndexLayout from "../layouts/IndexLayout.astro";
import ServicioCard from "../components/ServicioCard.astro";
import { WORDPRESS_URL } from "astro:env/server";
import { WORDPRESS_URL_MEDIA } from "astro:env/server";
const imageFetch = async (id) => {
  return (await (await fetch(WORDPRESS_URL_MEDIA + id)).json()).source_url;
};
const res = await fetch(WORDPRESS_URL + "servicios");
const data = await res.json();
const dataServicios = data[0].acf;
const h1 = marked.parse(dataServicios.titulo_servicios);
const h2 = marked.parse(dataServicios.sub_titulo_servicios);
const servicios = [];
for (const key in dataServicios.servicios) {
  servicios.push(dataServicios.servicios[key]);
}

const fondoImg = await imageFetch(dataServicios.fondo_img);
---

<IndexLayout>
  <div
    transition:name="matpel"
    class="w-full h-fit p-10 bg-center flex relative bg-cover"
    style=`background-image: url('${fondoImg}')`
  >
    <div class="absolute top-0 left-0 w-full h-full bg-black z-20 opacity-40">
    </div>
    <div
      class="flex flex-col justify-center font-primary text-2xl font-normal text-white z-30 leading-none"
    >
      <h1 set:html={h1} class="text-3xl font-medium leading-none mb-3" /><p
        set:html={h2}
      />
    </div>
  </div>
  <div
    class="bg-map w-full h-fit p-10 bg-cover z-40 bg-fixed bg-center flex flex-col"
  >
    <h2 class="subtitulo">{dataServicios.h2_servicios}</h2>
    <div class="flex flex-wrap justify-center gap-20">
      {
        servicios.map((servicio) => {
          return <ServicioCard data={servicio} />;
        })
      }
    </div>
    <div class=""></div>
  </div>
</IndexLayout>
