---
import { WORDPRESS_URL_MEDIA } from "astro:env/client";
import IndexLayout from "../layouts/IndexLayout.astro";
import { WORDPRESS_URL } from "astro:env/client";
import SobreNosotrosChanger from "../components/SobreNosotrosChanger.astro";
const imageFetch = async (id) => {
  return (await (await fetch(WORDPRESS_URL_MEDIA + id)).json()).source_url;
};
const res = await fetch(WORDPRESS_URL + "sobre-nosotros");
const data = await res.json();
const dataSobreNosotros = data[0].acf;
let fondoImg = await imageFetch(dataSobreNosotros.fondo_img);
let titulo = dataSobreNosotros.titulo;
let subtitulo = dataSobreNosotros.sub_titulo;

const sections = [
  {
    id: 1,
    title: "Valores corporativos",
    content: dataSobreNosotros.valores_corporativos_texto,
  },
  {
    id: 2,
    title: "Misión",
    content: dataSobreNosotros.mision_texto,
  },
  {
    id: 3,
    title: "Visión",
    content: dataSobreNosotros.vision_texto,
  },
];
---

<IndexLayout
  ><div
    class="w-full h-fit bg-center flex flex-col relative bg-cover"
    style=`background-image: url('${fondoImg}')`
  >
    <div class="absolute top-0 left-0 w-full h-full bg-black z-20 opacity-40">
    </div>
    <div class="text-white z-40">
      <div class="mx-10 mt-10">
        <h1 class="text-5xl">{titulo}</h1>
        <p class="text-xl">{subtitulo}</p>
      </div>
      <!-- Cuadros superiores -->
      <div class="flex flex-col items-center">
        <div id="buttons-container" class="flex gap-2 mt-10">
          {
            sections.map((section, index) => (
              <div
                class={`flex  flex-col items-center  text-center justify-center w-[33vw] h-24 bg-primary text-white font-semibold  transition-all cursor-pointer ${
                  index === 0 ? "bg-primary-claro" : ""
                }`}
                data-id={section.id}
              >
                <div class="text-xl font-semibold">{section.title}</div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <div class="bg-map px-10 pt-4 pb-10">
    <!-- Contenido dinámico -->
    <div
      id="content-container"
      class="w-full max-w-2xl bg-white rounded-lg shadow-lg p-6"
    >
      <h2 id="content-title" class="text-xl font-semibold text-teal-500">
        {sections[0].title}
      </h2>
      <p id="content-description" class="mt-4 text-gray-700">
        {sections[0].content}
      </p>
    </div>
    <div class="flex flex-col">
      <div class="h-full w-fit rounded-lg"></div>
    </div>
  </div>
  <script>
    import { WORDPRESS_URL } from "astro:env/client";

    document.addEventListener("DOMContentLoaded", async () => {
      const buttons = document.querySelectorAll("#buttons-container > div");
      const title = document.getElementById("content-title");
      const description = document.getElementById("content-description");
      const res = await fetch(WORDPRESS_URL + "sobre-nosotros");
      const data = await res.json();
      const dataSobreNosotros = data[0].acf;
      const dataText = {
        1: {
          title: "Valores corporativos",
          content: dataSobreNosotros.valores_corporativos_texto,
        },
        2: {
          title: "Misión",
          content: dataSobreNosotros.mision_texto,
        },
        3: {
          title: "Visión",
          content: dataSobreNosotros.vision_texto,
        },
      };
      // Agregar eventos a cada botón
      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          const id = button.getAttribute("data-id");

          // Actualizar contenido dinámico
          title.textContent = dataText[id].title;
          description.textContent = dataText[id].content;

          // Resetear estilos de todos los botones
          buttons.forEach((btn) => btn.classList.remove("bg-primary-claro"));

          // Agregar estilos al botón seleccionado
          button.classList.add("bg-primary-claro");
        });
      });
    });
  </script>
</IndexLayout>
