---
import type { GetStaticPaths } from "astro";
import IndexLayout from "../../layouts/IndexLayout.astro";
import { WORDPRESS_URL, WORDPRESS_URL_MEDIA } from "astro:env/client";
import Image from "astro/components/Image.astro";

const imageFetch = async (id) => {
  return (await (await fetch(WORDPRESS_URL_MEDIA + id)).json()).source_url;
};
export const getStaticPaths = (async () => {
  const res = await fetch(WORDPRESS_URL + "servicios");
  const data = await res.json();
  const dataServicios = Object.values(data[0].acf.servicios);
  return dataServicios.map((servicio) => ({
    //@ts-ignore
    params: { id: servicio.slug },
    props: { servicio },
  }));
}) satisfies GetStaticPaths;

const { servicio } = Astro.props;
console.log(
  "%csrc/pages/servicios/[id].astro:23 servicio",
  "color: #007acc;",
  servicio
);
//@ts-ignore
let { titulo, img, text, galeria, slug } = servicio;
let galeriaArr = [];
for (const el in galeria) {
  galeriaArr.push(await imageFetch(galeria[el]));
}

img = await imageFetch(img);
---

<IndexLayout>
  <div class="flex flex-col p-10">
    <h1
      class="text-3xl font-bold text-white w-fit px-10 text-center leading-none bg-primary-claro py-2 font-primary mb-10 shadow-lg"
    >
      {titulo}
    </h1>
    <div>
      <div
        class="flex flex-col-reverse gap-5 lg:flex-row lg:items-center lg:gap-10"
      >
        <div>
          <p class="text-2xl lg:text-3xl mb-5">
            {text}
          </p>
          <a
            href="/"
            class="py-2 px-7 rounded-lg bg-primary text-white font-semibold text-2xl"
            >Cotiza ahora</a
          >
        </div>
        <Image
          src={img}
          transition:name={`img-${slug}`}
          alt=""
          inferSize
          loading="eager"
          class="rounded-2xl rounded-bl-none lg:w-1/2 shadow-xl"
        />
      </div>
    </div>
  </div>
  <div class="swiper mb-20 mySwiperGalery2">
    <div class="swiper-wrapper">
      {
        galeriaArr.map((el) => {
          return (
            <div class="swiper-slide">
              <Image class="w-full" src={el} inferSize alt="" />
            </div>
          );
        })
      }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</IndexLayout>
<script type="module">
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

  const swiper5 = new Swiper(".mySwiperGalery2", {
    slidesPerView: 1,
    loop: true,
    autoplay: {
      delay: 5000,
    },
    breakpoints: {
      770: {
        slidesPerView: 2,
      },
      1350: {
        slidesPerView: 3,
      },
    },

    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
